DATABASE_URL="postgresql://neondb_owner:npg_R2i1GpthBAes@ep-proud-boat-ay20sosz-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_APP_NAME="TrainCrewHub"
NODE_ENV="development"
