<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="/" data-link>TrainCrewHub</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto gap-lg-2">
        <li class="nav-item">
          <a class="nav-link" href="/" data-link>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" data-link>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule-keys" data-link>Ключ-График</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/duties" data-link>Повески</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employees" data-link>Служители</a>
        </li>
        <li class="nav-item" id="nav-sign-in">
          <a class="nav-link" href="/login" data-link>Sign In</a>
        </li>
        <li class="nav-item" id="nav-register">
          <a class="nav-link" href="/register" data-link>Register</a>
        </li>
        <li class="nav-item d-none" id="nav-logout">
          <button type="button" class="nav-link btn btn-link p-0 border-0 text-decoration-none">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
